<!-- Launch file for running RS locally with web viwualization -->
<launch>

  <!-- launch refills specific RoboSherlock -->
  <node name="RoboSherlock" pkg="rs_refills" type="processing_engine" output="screen">
    <param name="ae" type="string" value="refills"/>  
    <param name="vis" type="boolean" value="false"/>  
  </node>


</launch>
