<!-- Launch file for running RS locally with web visualization -->
<launch>
 
  <include file="$(find refills_intel_product_verification)/launch/product_verification.launch"/>

  <!-- launch refills specific RoboSherlock -->
  <node name="RoboSherlock" pkg="rs_refills" type="processing_engine" output="log">
    <param name="ae" type="string" value="refills"/>  
    <param name="vis" type="boolean" value="false"/>  
  </node>
</launch>
