<launch>
  <!-- Analysis engines to execute, comma separated list: eninge1,engine2,... -->
  
  <arg name="ae"               default="scenario3_demo"/> <!-- Short version for analysis_engines -->
  <arg name="analysis_engines" default="$(arg ae)"/>
  <!-- Enable / disable visualization -->
  <arg name="vis"              default="false"/> <!-- Short version for visualization -->
  <arg name="visualization"    default="$(arg vis)"/>
  <!-- Path to where images and point clouds should be stored -->
  <arg name="save_path"        default=""/>
  <arg name="withIDRes"        default="false"/>
  <arg name="wait"             default="true"/>

  <arg name="parallel"         default="false"/>
  <arg name="pervasive"        default="false"/>
  <!-- Machine on with the nodes should run. -->

  <!-- launch robosherlock with the pipeline defined in demo.xml-->
  <node name="RoboSherlock_scenario3" pkg="robosherlock" type="run" output="log">
    <param name="analysis_engines" type="str"  value="$(arg analysis_engines)"/>
    <param name="visualization"    type="bool" value="$(arg visualization)"/>
    <param name="parallel"         type="bool" value="$(arg parallel)"/>
    <param name="save_path"        type="str"  value="$(arg save_path)"/>
    <param name="withIDRes"        type="bool" value="$(arg withIDRes)"/>
    <param name="wait"             type="bool" value="$(arg wait)"/>
    <param name="pervasive"        type="bool" value="$(arg pervasive)"/>

  </node>
</launch>
